In [1]:
import pandas as pd

In [2]:
path = 'TEMPERATURE/data24_08.csv'

In [3]:
# Step 1: Read the CSV file
df = pd.read_csv(path)

In [4]:
df.columns

Index(['DateTime', 'RH [%]', 'Temperature [째C]', 'WBT_C'], dtype='object')

In [5]:
# Step 2: Convert the time column to datetime if it's not already
df['Time'] = pd.to_datetime(df['DateTime'])

In [6]:
# Step 3: Extract year, month, day, hour, minute, second into separate columns
df['year'] = df['Time'].dt.year
df['month'] = df['Time'].dt.month
df['day'] = df['Time'].dt.day
df['hour'] = df['Time'].dt.hour
df['minute'] = df['Time'].dt.minute
df['second'] = df['Time'].dt.second

In [7]:
# Step 4: View the updated DataFrame
print(df.head())

                  DateTime  RH [%]  Temperature [째C]  WBT_C  \
0  2024-08-01 00:01:26.000    80.2              30.1   27.3
1  2024-08-01 00:11:26.000    80.3              30.1   27.2
2  2024-08-01 00:21:26.000    80.4              30.0   27.2
3  2024-08-01 00:31:26.000    79.7              30.0   27.1
4  2024-08-01 00:41:27.000    78.5              29.9   26.8

                 Time  year  month  day  hour  minute  second
0 2024-08-01 00:01:26  2024      8    1     0       1      26
1 2024-08-01 00:11:26  2024      8    1     0      11      26
2 2024-08-01 00:21:26  2024      8    1     0      21      26
3 2024-08-01 00:31:26  2024      8    1     0      31      26
4 2024-08-01 00:41:27  2024      8    1     0      41      27

In [8]:
df.tail()

,DateTime,RH [%],Temperature [째C],WBT_C,Time,year,month,day,hour,minute,second
4484,2024-08-31 23:31:27.000,69.8,30.2,25.7,2024-08-31 23:31:27,2024,8,31,23,31,27
4485,2024-08-31 23:41:27.000,70.6,30.1,25.8,2024-08-31 23:41:27,2024,8,31,23,41,27
4486,2024-08-31 23:41:27.000,70.6,30.1,25.8,2024-08-31 23:41:27,2024,8,31,23,41,27
4487,2024-08-31 23:51:27.000,71.2,30.1,25.9,2024-08-31 23:51:27,2024,8,31,23,51,27
4488,2024-08-31 23:51:27.000,71.2,30.1,25.9,2024-08-31 23:51:27,2024,8,31,23,51,27

In [9]:
# Optionally, save the updated DataFrame back to CSV
df.to_csv('TEMPERATURE/separated_24_08.csv', index=False)